.savings-and-deals-icon {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 20%;
    right: 0px;
    z-index: 9000000000000000000;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(#79dcf1, #6abfd3);
    transition: 0.1s;
}

.savings-and-deals-icon:hover {
    margin-top: -2px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(#7ce0f7, #6abfd3);
}

.savings-and-deals-icon-hidden {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 20%;
    right: -100px;
    z-index: 9000000000000000000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(#79dcf1, #6abfd3);
    transition: 0.3s;
}

#savings-and-deals-logo-container {
    transform: translate(13%, 13%);
}

#savings-and-deals-image-logo {
    width: 65px;
    height: 65px;
}

#savings-and-deals-modal-opaque {
    display: block;
    justify-content: center;
    width: 290px;
    height: 360px;
    position: fixed;
    top: calc(20% + 75px);
    right: 0px;
    border-radius: 4px;
    opacity: 1;
    transition: 0.3s; 
    background-image: linear-gradient(#ffffff, #f9f9f9);
    z-index: 9000000000000000000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 5px;
    overflow-y: auto;
    margin-inline: auto;
    overflow-x: hidden;
}

#savings-and-deals-modal-clear {
    display: block;
    width: 0px;
    height: 0px;
    position: fixed;
    top: calc(20% + 80px);
    right: 0px;
    background: white;
    border-radius: 4px;
    opacity: 0;
    transition: 0.3s; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 9000000000000000000;
    padding: 5px;
    margin: 5px;
    overflow-y: auto;
    margin-inline: auto;
    pointer-events: none;
}

.savings-and-deals-item-title {
    display: flex;
    font-size: 14.5px;
    color: black;
    top: 8px;
    position: absolute;
    left: 108px;
}

.savings-and-deals-item-box {
    width: 100%;
    height: 100px;
    display: flex;
    background-image: linear-gradient(#ffffff, #f7f7f7);
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border:1px solid #e7e7e7;
    position: relative;
    color: black;
}

.savings-and-deals-item-box:hover {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#savings-and-deals-rating-site-logo {
    width: 20px;
    height: 20px;
    z-index: 990000;
    left: 5px;
    bottom: 5px;
    position: absolute;
}

#savings-and-deals-rating-image {
    width: 100px;
    height: 100px;
    margin-right: 8px;
    float: left;
}

#savings-and-deals-rating-price {
    font-size: 14.5px;
    position: absolute;
    left: 108px;
    bottom: 8px
}

#savings-and-deals-rating-star {
    font-size: 14.5px;
    color: Red;
    position: absolute;
    right: 10px;
    bottom: 8px
}

#savings-and-deals-loading {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50px;
    top: 82px
}

#savings-and-deals-best-deal {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 55px;
    top: 70px
}

#savings-and-deals-voucher {
    border-top-left-radius: 10px;
    position: absolute;
    background-image: linear-gradient(#ffc1c1f2, #ffaf87d1);
    right: 63.5%;
    bottom: 0px;
    font-size: 12px;
    padding: 4px;
}

#savings-and-deals-voucher-text {
    font-size: 12px;
    opacity: 1;
    color: rgb(0, 0, 0);
    font-weight:bolder
}